.about-me-block{
  width: 100%;
  max-width: 50%;
  margin: 0 auto 50px auto;
}

.about-me-title{
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.about-me-text{
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #727272;
  text-align: center;
}