:root{
  --primary-background-color: #eeeff1;
  --secondary-background-color:white;
  --primary-text-color: #727272;
  --secondary-text-color: white;
  --accent-color: rgb(52, 84, 122);
  --light-accent-color: rgba(52, 84, 122, 0.85);
}

body{
  font-family: Roboto, sans-serif;
}

.padding-for-block{
  padding: 50px 0;
}

.content-block{
  width: 100%;
  max-width: 50%;
  padding: 100px 0;
}


.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.description-text{
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--primary-text-color);
  text-align: center;
}

.light-theme{
  background-color: var(--secondary-background-color);
}

.dark-theme{
  background-color: var(--primary-background-color);
}