.row-align{
  justify-content: space-between;
}

.main-footer{
  background-color: #34547A;
  margin-top: 100px;
  padding: 30px 10px;
}

.social-icons{
  display: flex;
  justify-content: space-evenly;
}

.social-icon{
  object-fit: cover;
}

.developer-name{
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: white;
  margin-bottom: 10px;
}

.protect{
  font-size: 0.9rem;
  color: white;
}