.header{
  padding-top: 15px;
}
.header-row{
  align-items: center;
  background-color: #EEEFF1;
}

.logo{
  font-family: 'Revalia', cursive;
  font-size: 3rem;
  color: #34547A;
  position: relative;
  bottom: 10px;
}

.nav-bar > ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item{
  font-weight: 500;
  text-transform: uppercase;
}

.list-item-link{
  display: block;
  transition: all 1s ease-in-out;
}

.list-item-link:hover{
  color: rgb(60, 159, 192);
}

.header-content{
  padding-top: 85px;
  padding-bottom: 146px;
  background-color: #EEEFF1;
}

div.block{
  width: 325px;
  height: 225px;
  background-color: teal;
}

.header-content-title{
  font-size: 3em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.header-content-text{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #727272;
  margin: 45px 0;
  line-height: 1.2em;
}

.header-content-button{
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: rgb(52, 84, 122);
  padding: 25px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.header-content-button:hover{
  background-color: rgba(52, 84, 122, 0.85);
}
