
.header-row{
  align-items: center;
  padding-top: 15px;
}

.logo{
  font-family: 'Revalia', cursive;
  font-size: 3rem;
  color: var(--accent-color);
  position: relative;
  bottom: 10px;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item{
  font-weight: 500;
  text-transform: uppercase;
}

.list-item-link{
  display: block;
  transition: all 1s ease-in-out;
}

.list-item-link:hover{
  color: rgb(60, 159, 192);
}

.header-content{
  padding-top: 85px;
  padding-bottom: 146px;
}

.img-wrapper{
  max-width: calc(100% * 4 / 6);
}

.header-image{
  width: 100%;
  object-fit: cover;
}

.header-content-title{
  font-size: 3em;
  font-weight: 500;
}

.header-content-text{
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-text-color);
  margin: 45px 0;
  line-height: 1.2em;
}

.header-content-button{
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: var(--accent-color);
  padding: 25px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.header-content-button:hover{
  background-color: var(--light-accent-color);
}

@media screen and (max-width: 400px){
}

@media screen and (max-width: 992px){
  .logo{
    text-align: center;
  }

  .nav-bar{
    justify-content: center;
    margin-top: 25px;
  }

  .list-item + .list-item{
    margin-left: 25px;
  }

  .list-item-link{
    font-size: 0.8rem;
  }

  .img-wrapper{
    margin: 0 auto 25px auto;
  }

  .header-content-wrapper{
   text-align: center;
  }
}