.how-i-work{
  padding-top: 180px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.outer-wrapper{
  width: 100%;
  max-width: 800px;
  margin: 15px auto 25px auto;
}

.inner-wrapper{
  padding-top: calc(100% * 9 / 16);
  position: relative;
}

.youtube-video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}