.images-gallery{
  display: flex;
  flex-wrap: wrap;
}

.gallery-item{
  width: 25%;
  position: relative;
}

.gallery-item-image{
  object-fit: contain;
  width: 100%;
}

.gallery-item:hover > .hover-block{
  width: 100%;
  height: 100%;
  background-color: purple;
  background-image: url("../images/eye.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}