.my-projects{
  background-color: #34547A;
}

.my-projects > div.container{
  background-color: inherit;;
}

.my-projects-row{
  padding: 70px 0;
}

.my-project-block{
  display: flex;
}

.describe-project{
  margin-left: 20px;
}
