.skills-section{
  padding-top: 60px;
  padding-bottom: 50px;
}

.skills-header{
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15em;
  margin-bottom: 35px;
}

.skill-title{
  font-size: 1rem;
  color: #727272;
  margin-bottom: 20px;
}

.skill-progress{
  height: 3px;
  background-color: black;
  width: 80%;
  position: relative;
}

.skill-progress::before{
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: teal;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 2;
}

.about-skill + .about-skill{
  padding-top: 20px;
}