.skills-section{
  padding-top: 60px;
}

.skills-header{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15em;
  margin-bottom: 35px;
}

.skill-title{
  font-size: 1rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.skill-progress{
  height: 3px;
  background: rgb(4, 4, 105);
  background: linear-gradient(90deg, rgb(4, 4, 105) 65%, rgb(103, 121, 121) 0%);
  width: 80%;
  position: relative;
}


.about-skill + .about-skill{
  padding-top: 20px;
}


.my-photo{
  object-fit: cover;
  object-position: top;
  width: 75%;
}