@import url("./header.css");
@import url("./about_me.css");
@import url("./my_projects.css");
@import url("./skills.css");

*{
  box-sizing: border-box;
}

.container{
  background-color: rgba(219, 75, 75, 0.4);
}

